{% load static %}
<script src="{% static 'web/scripts/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'web/scripts/jquery.sharrre.min.js' %}"></script>
<script src="{% static 'web/scripts/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'web/scripts/Chart.min.js' %}"></script>
<script src="{% static 'web/scripts/shards.min.js' %}"></script>
<script src="{% static 'web/scripts/extras.1.1.0.min.js' %}"></script>
<script src="{% static 'web/scripts/shards-dashboards.1.1.0.min.js' %}"></script>
