{% extends "layouts/main_layout.html" %}
{% load static %}
{% block title %}
  Meniň resminamalarym
{% endblock title %}
{% block body %}
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle"></span>
      <h3 class="page-title">Meniň resminamalarym</h3>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Small Stats Blocks -->
    <div class="row">
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Ýakynda möhleti dolýanlar</span>
                <h6 class="stats-small__value count my-3">{{ deadlines }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Tassyklanmalylar</span>
                <h6 class="stats-small__value count my-3">{{ files_to_sign }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Meniň resminamalarym</span>
                <h6 class="stats-small__value count my-3">{{ personal_files }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Small Stats Blocks -->
    <!-- Default Light Table -->
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0">Meniň ýüklänlerim</h6>
          </div>
          <div class="card-body p-0 pb-3 text-center">
            <table class="table mb-0">
              <thead class="bg-light">
                <tr>
                  <th scope="col" class="border-0">№</th>
                  <th scope="col" class="border-0">Ady</th>
                  <th scope="col" class="border-0">Möhletiniň dolýan wagty</th>
                  <th scope="col" class="border-0">Ýagdaýy</th>
                  <th scope="col" class="border-0">Giňişleýin</th>
                </tr>
              </thead>
              <tbody>
                {% if my_files %}
                  {% for document in my_files %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ document.filename }}</td>
                      <td>{{ document.date }}</td>
                      <td>
                        {% if document.status == 'Prosesde' %}
                          <strong class="text-warning">{{ document.status }}</strong>
                        {% elif document.status == "Ret edildi" %}
                          <strong class="text-danger">{{ document.status }}</strong>
                        {% elif document.status == "Taýýar" %}
                          <strong class="text-success">{{ document.status }}</strong>
                        {% endif %}
                      </td>
                      <td>
                        <input type="button"
                               class="mb-2 btn btn-sm btn-primary mr-1"
                               value="Görmek"
                               onclick="window.location.href='{% url "web:document_review" document.filename %}'">
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Default Light Table -->
    <!-- Default Dark Table -->
    <div class="row">
      <div class="col">
        <div class="card card-small overflow-hidden mb-4">
          <div class="card-header bg-dark">
            <h6 class="m-0 text-white">Karar bermeliler</h6>
          </div>
          <div class="card-body p-0 pb-3 bg-dark text-center">
            <table class="table table-dark mb-0">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="border-0">№</th>
                  <th scope="col" class="border-0">Ady</th>
                  <th scope="col" class="border-0">Möhletiniň dolýan wagty</th>
                  <th scope="col" class="border-0">Ýagdaýy</th>
                  <th scope="col" class="border-0">Giňişleýin</th>
                </tr>
              </thead>
              <tbody>
                {% if review_files %}
                  {% for document in review_files %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ document.filename }}</td>
                      <td>{{ document.date }}</td>
                      <td>
                        {% if document.status == 'Prosesde' %}
                          <strong class="text-warning">{{ document.status }}</strong>
                        {% elif document.status == "Ret edildi" %}
                          <strong class="text-danger">{{ document.status }}</strong>
                        {% elif document.status == "Taýýar" %}
                          <strong class="text-success">{{ document.status }}</strong>
                        {% endif %}
                      </td>
                      <td>
                        <input type="button"
                               class="mb-2 btn btn-sm btn-primary mr-1"
                               value="Görmek"
                               onclick="window.location.href='{% url "web:document_review" document.filename %}'">
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block scripts %}
  {% include "shortcuts/default_scripts.html" %}
{% endblock scripts %}
